:root {
    --tbk-primary-color: #d5006c;
    --tbk-secondary-color: #99006C;
    --tbk-background-color: #F9FBFE;
    --tbk-disabled-color: #A0AFCA;
}

body {
    font-family: "Roboto";
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.25px;
}

.nav-bar {
    background: #f9fbfe;
    height: 76px;
}

.tab-bar {
    height: 56px;
}

.divider {
    border-bottom: 0.5px solid #c9d0e4;
}

.tab-content {
    display: none;
}

.tab-tbk {
    color: #707382;
}

.tab-tbk.active {
    color: #d5006c;
    border-bottom: 3px solid var(--tbk-primary-color);
}

.tab-tbk:hover {
    color: #d5006c;
    border: 0px;
}

.tab-tbk.active:hover {
    color: #d5006c;
    border-bottom: 3px solid var(--tbk-primary-color);
}

.tab-content.active {
    display: block;
}

.connection-bar {
    height: 104px;
}

.tbk-btn {
    background: var(--tbk-background-color);
    border: 1px solid var(--tbk-primary-color);
    color: var(--tbk-primary-color);
    border-radius: 4px;
    padding: 8px 24px;
    text-align: center;
}

.tbk-btn:hover {
    border: 1px solid var(--tbk-secondary-color);
    color: var(--tbk-secondary-color);
}

.tbk-btn.tbk-btn-xl {
    background: var(--tbk-background-color);
    box-shadow: 0px 1px 2px rgba(14, 21, 32, 0.18), 0px 0px 2px rgba(14, 21, 32, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.04);
    padding: 24px 32px;
}

.tbk-btn.tbk-btn-red {
    background: var(--tbk-primary-color);
    color: var(--tbk-background-color);
}

.tbk-btn:disabled {
    border: 1px solid var(--tbk-disabled-color);
    color: var(--tbk-disabled-color);
}

.tbk-control {
    font-weight: 500;
}

select.tbk-control,
.tbk-control > select {
    background: #ffffff;
    padding: 10px 24px;
    border: 1px solid #c9d0e4;
    border-radius: 4px;
    width: 200px;
    text-align: left;
}

label.tbk-control,
.tbk-control > label {
    color: #707382;
}

input.tbk-control,
.tbk-control > input {
    background: #ffffff;
    border: 1px solid #c9d0e4;
    border-radius: 4px;
    padding: 8px 16px;
}

.response-box {
    border: 1px solid #c9d0e4;
    border-radius: 4px;
}

.operation-bar {
    background: #e7ebf3;
    padding: 8px;
}

.tbk-control > .tbk-button-1:hover {
    color: #d5006c;
}

pre {
    padding: 5px;
    margin: 5px;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}
